# Игнорируем конфигурации редактора
.vscode/

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем зависимости и временные файлы
node_modules/
dist/
out/

game/saves/

errors.txt
log.txt
traceback.txt
